# aws registry
AWS_ACCOUNT_ID=
AWS_REGION=
DOCKER_IMAGE_REGISTRY="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"

# next configuration
AUTH_SECRET=
AUTH_TRUST_HOST=true

# PostgreSQL Database Connection URLs
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Supabase URLs
SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=

# Supabase Keys (Public)
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_ANON_KEY=

# PostgreSQL Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DATABASE=postgres
POSTGRES_HOST=

# Supabase Keys
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=

# Frontend - Clave pública (se expone al navegador)
NEXT_PUBLIC_CULQI_PUBLIC_KEY=

# Backend - Clave secreta (NUNCA exponer al frontend)
CULQI_SECRET_KEY=

# Configuraciones adicionales
NEXT_PUBLIC_CULQI_ORDER_ID=
NEXT_PUBLIC_CULQI_RSA_ID=
NEXT_PUBLIC_CULQI_RSA_PUBLIC_KEY=
NEXT_PUBLIC_CULQI_TITLE="EntrySport - Reserva de Cancha"

# ssl configuration
SSL_EMAIL=admin@example.com
SSL_DOMAIN_1=