# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
!.env.production.example

# production logs
logs/
*.log

# PM2
.pm2/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local env files
DEPLOYMENT.md
DEPLOYMENT_PROD.md
PASSWORD_RECOVERY.md
DEPLOYMENT_QUICK.md
DEPLOYMENT_INDEX.md
COMANDOS.md
CHECKLIST.md
ARCHITECTURE.md
ecosystem.config.js
.env
.env.production
.env.production.example
.env.local
README.md
envexample.md
scripts/*


